.header {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 40px;
  background-color: #51b0dc;
}

.header-menu {
  float: right;
}

.header-title {
  color: #B3DAEE;
  display: inline;
  vertical-align: middle;
}

.header-button {
  display: inline-block;
  padding: 8px;
  height: 22px;
  font-size: 16px;
  box-sizing: content-box;
  color: #ffffff;
  background-color: #006195;
}

.header-button:first-child {
  margin-right: 15px;
}
