.newCard {
  padding: 24px 126px;
  background-color: #c5c5c5;
}

.newCard-content {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  width: 560px;
  height: 40px;
  border: 1px solid transparent;
  -webkit-transition: height 0.2s linear,
                      border 0.5s linear;
       -o-transition: height 0.2s linear,
                      border 0.5s linear;
          transition: height 0.2s linear,
                      border 0.5s linear;
}

.newCard-content:focus {
    height: 150px;
    border-color: #555555;
}

.newCard-action {
  display: block;
  margin: 20px auto 0;
  font-size: 16px;
  width: 84px;
  height: 34px;
  background-color: #8272c7;
}
